body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:174.497474683058px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:580px;
  background:inherit;
  background-color:rgba(27, 188, 156, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5413 {
  position:absolute;
  left:155px;
  top:20px;
  width:12px;
  height:580px;
  opacity:0.200000002980232;
}
#u5414 {
  position:absolute;
  left:2px;
  top:282px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5415 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5416_img {
  position:absolute;
  left:-3px;
  top:0px;
  width:29px;
  height:29px;
}
#u5416 {
  position:absolute;
  left:7px;
  top:157px;
  width:23px;
  height:23px;
}
#u5417 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  line-height:24px;
}
#u5418 {
  position:absolute;
  left:11px;
  top:10px;
  width:16px;
  height:604px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  line-height:24px;
}
#u5419 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  white-space:nowrap;
}
#u5420 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5421 {
  position:absolute;
  left:90px;
  top:96px;
  width:70px;
  height:70px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u5422 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u5423 {
  position:absolute;
  left:76px;
  top:82px;
  width:73px;
  height:73px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  line-height:22px;
}
#u5424 {
  position:absolute;
  left:2px;
  top:26px;
  width:69px;
  word-wrap:break-word;
}
#u5425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 188, 156, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5425 {
  position:absolute;
  left:155px;
  top:140px;
  width:12px;
  height:80px;
  opacity:0.600000023841858;
}
#u5426 {
  position:absolute;
  left:2px;
  top:32px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
