body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:129px;
  background:inherit;
  background-color:rgba(249, 254, 249, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(233, 236, 240, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u4817 {
  position:absolute;
  left:10px;
  top:10px;
  width:600px;
  height:129px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:24px;
}
#u4818 {
  position:absolute;
  left:20px;
  top:30px;
  width:540px;
  word-wrap:break-word;
}
#u4819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:260px;
  background:inherit;
  background-color:rgba(249, 254, 249, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(233, 236, 240, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#33495F;
  line-height:37px;
}
#u4819 {
  position:absolute;
  left:10px;
  top:160px;
  width:600px;
  height:260px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#33495F;
  line-height:37px;
}
#u4820 {
  position:absolute;
  left:20px;
  top:30px;
  width:540px;
  word-wrap:break-word;
}
#u4821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BEC4CC;
  line-height:20px;
}
#u4821 {
  position:absolute;
  left:570px;
  top:10px;
  width:40px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BEC4CC;
  line-height:20px;
}
#u4822 {
  position:absolute;
  left:0px;
  top:10px;
  width:40px;
  word-wrap:break-word;
}
#u4823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BEC4CC;
  line-height:20px;
}
#u4823 {
  position:absolute;
  left:570px;
  top:160px;
  width:40px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BEC4CC;
  line-height:20px;
}
#u4824 {
  position:absolute;
  left:0px;
  top:10px;
  width:40px;
  word-wrap:break-word;
}
#u4825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:120px;
  color:#21CA6B;
  text-align:center;
  line-height:120px;
}
#u4825 {
  position:absolute;
  left:258px;
  top:250px;
  width:104px;
  height:120px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:120px;
  color:#21CA6B;
  text-align:center;
  line-height:120px;
}
#u4826 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u4827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
  background:inherit;
  background-color:rgba(249, 254, 249, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(233, 236, 240, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-style:normal;
  color:#21CA6B;
  text-align:left;
  line-height:24px;
}
#u4827 {
  position:absolute;
  left:10px;
  top:440px;
  width:600px;
  height:50px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-style:normal;
  color:#21CA6B;
  text-align:left;
  line-height:24px;
}
#u4828 {
  position:absolute;
  left:20px;
  top:13px;
  width:540px;
  word-wrap:break-word;
}
#u4829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BEC4CC;
  line-height:20px;
}
#u4829 {
  position:absolute;
  left:570px;
  top:440px;
  width:40px;
  height:50px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BEC4CC;
  line-height:20px;
}
#u4830 {
  position:absolute;
  left:0px;
  top:15px;
  width:40px;
  word-wrap:break-word;
}
