body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(236, 238, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-style:normal;
  color:#34475E;
  text-align:left;
}
#u8232 {
  position:absolute;
  left:90px;
  top:48px;
  width:280px;
  height:270px;
  font-family:'Roboto Regular', 'Roboto';
  font-style:normal;
  color:#34475E;
  text-align:left;
}
#u8233 {
  position:absolute;
  left:10px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u8234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(52, 71, 94, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(52, 71, 94, 1);
  border-bottom:0px;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
#u8234 {
  position:absolute;
  left:90px;
  top:10px;
  width:280px;
  height:40px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
#u8235 {
  position:absolute;
  left:43px;
  top:12px;
  width:194px;
  word-wrap:break-word;
}
#u8236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1BBC9C;
  text-align:center;
  line-height:20px;
}
#u8236 {
  position:absolute;
  left:335px;
  top:10px;
  width:35px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1BBC9C;
  text-align:center;
  line-height:20px;
}
#u8237 {
  position:absolute;
  left:0px;
  top:10px;
  width:35px;
  word-wrap:break-word;
}
#u8238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:60px;
  background:inherit;
  background-color:rgba(253, 253, 253, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(236, 238, 240, 1);
  border-top:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
#u8238 {
  position:absolute;
  left:90px;
  top:318px;
  width:280px;
  height:60px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
#u8239 {
  position:absolute;
  left:43px;
  top:22px;
  width:194px;
  word-wrap:break-word;
}
#u8240 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8241 {
  position:absolute;
  left:130px;
  top:328px;
  width:40px;
  height:40px;
  opacity:0.400000005960464;
}
#u8241_img.selected {
}
#u8241.selected {
  opacity:1;
}
#u8242 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8243 {
  position:absolute;
  left:210px;
  top:328px;
  width:40px;
  height:40px;
  opacity:0.400000005960464;
}
#u8243_img.selected {
}
#u8243.selected {
  opacity:1;
}
#u8244 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8245 {
  position:absolute;
  left:290px;
  top:328px;
  width:40px;
  height:40px;
  opacity:0.400000005960464;
}
#u8245_img.selected {
}
#u8245.selected {
  opacity:1;
}
#u8246 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1BBC9C;
  text-align:center;
  line-height:20px;
}
#u8247 {
  position:absolute;
  left:90px;
  top:10px;
  width:35px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1BBC9C;
  text-align:center;
  line-height:20px;
}
#u8248 {
  position:absolute;
  left:0px;
  top:10px;
  width:35px;
  word-wrap:break-word;
}
#u8249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u8249 {
  position:absolute;
  left:78px;
  top:61px;
  width:12px;
  height:24px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#34475E;
  line-height:14px;
}
#u8250 {
  position:absolute;
  left:0px;
  top:4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8251 {
  position:absolute;
  left:24px;
  top:48px;
  width:50px;
  height:50px;
}
#u8252 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u8253 {
  position:absolute;
  left:31px;
  top:55px;
  width:36px;
  height:36px;
}
#u8254 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
