body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:340px;
  background:inherit;
  background-color:rgba(80, 99, 100, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3806 {
  position:absolute;
  left:10px;
  top:10px;
  width:120px;
  height:340px;
  opacity:0.100000001490116;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3807 {
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3808 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
  background:inherit;
  background-color:rgba(209, 213, 216, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#9B9FA4;
  line-height:12px;
}
#u3809 {
  position:absolute;
  left:25px;
  top:293px;
  width:90px;
  height:23px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#9B9FA4;
  line-height:12px;
}
#u3809_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
  background:inherit;
  background-color:rgba(209, 213, 216, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#9B9FA4;
  line-height:12px;
}
#u3809.mouseOver {
  opacity:0.800000011920929;
}
#u3809_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
  background:inherit;
  background-color:rgba(221, 72, 58, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#9B9FA4;
  line-height:12px;
}
#u3809.mouseDown {
}
#u3809_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
  background:inherit;
  background-color:rgba(207, 67, 54, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#9B9FA4;
  line-height:12px;
}
#u3809.selected {
}
#u3810 {
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
#u3811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(209, 213, 216, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#9B9FA4;
  line-height:12px;
}
#u3811 {
  position:absolute;
  left:49px;
  top:161px;
  width:43px;
  height:21px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#9B9FA4;
  line-height:12px;
}
#u3811_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(209, 213, 216, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#9B9FA4;
  line-height:12px;
}
#u3811.mouseOver {
  opacity:0.800000011920929;
}
#u3812 {
  position:absolute;
  left:0px;
  top:4px;
  width:43px;
  word-wrap:break-word;
}
#u3813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(209, 213, 216, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:7px;
  color:#9B9FA4;
  line-height:7px;
}
#u3813 {
  position:absolute;
  left:56px;
  top:39px;
  width:27px;
  height:14px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:7px;
  color:#9B9FA4;
  line-height:7px;
}
#u3814 {
  position:absolute;
  left:0px;
  top:4px;
  width:27px;
  word-wrap:break-word;
}
#u3815 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
}
#u3816 {
  position:absolute;
  left:25px;
  top:226px;
  width:43px;
  height:23px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#9B9FA4;
  text-align:left;
  line-height:12px;
}
#u3816_img.mouseOver {
}
#u3816.mouseOver {
  opacity:0.800000011920929;
}
#u3816_img.mouseDown {
}
#u3816.mouseDown {
}
#u3816_img.selected {
}
#u3816.selected {
}
#u3817 {
  position:absolute;
  left:14px;
  top:5px;
  width:27px;
  word-wrap:break-word;
}
#u3818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
}
#u3818 {
  position:absolute;
  left:72px;
  top:226px;
  width:43px;
  height:23px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#9B9FA4;
  text-align:right;
  line-height:12px;
}
#u3818_img.mouseOver {
}
#u3818.mouseOver {
  opacity:0.800000011920929;
}
#u3818_img.mouseDown {
}
#u3818.mouseDown {
}
#u3818_img.selected {
}
#u3818.selected {
}
#u3819 {
  position:absolute;
  left:0px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u3820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3820 {
  position:absolute;
  left:60px;
  top:97px;
  width:20px;
  height:20px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#9B9FA4;
  line-height:12px;
}
#u3820_img.mouseOver {
}
#u3820.mouseOver {
  opacity:0.800000011920929;
}
#u3821 {
  position:absolute;
  left:0px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u3822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:340px;
  background:inherit;
  background-color:rgba(80, 99, 100, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3822 {
  position:absolute;
  left:150px;
  top:10px;
  width:120px;
  height:340px;
  opacity:0.100000001490116;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3823 {
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3824 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
  background:inherit;
  background-color:rgba(233, 77, 60, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3825 {
  position:absolute;
  left:165px;
  top:293px;
  width:90px;
  height:23px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3825_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
  background:inherit;
  background-color:rgba(233, 77, 60, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3825.mouseOver {
  opacity:0.800000011920929;
}
#u3825_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
  background:inherit;
  background-color:rgba(221, 72, 58, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3825.mouseDown {
}
#u3825_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
  background:inherit;
  background-color:rgba(207, 67, 54, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3825.selected {
}
#u3826 {
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
#u3827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(233, 77, 60, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3827 {
  position:absolute;
  left:189px;
  top:161px;
  width:43px;
  height:21px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3827_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(233, 77, 60, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3827.mouseOver {
  opacity:0.800000011920929;
}
#u3828 {
  position:absolute;
  left:0px;
  top:4px;
  width:43px;
  word-wrap:break-word;
}
#u3829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(233, 77, 60, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:7px;
  color:#FFFFFF;
  line-height:7px;
}
#u3829 {
  position:absolute;
  left:196px;
  top:39px;
  width:27px;
  height:14px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:7px;
  color:#FFFFFF;
  line-height:7px;
}
#u3830 {
  position:absolute;
  left:0px;
  top:4px;
  width:27px;
  word-wrap:break-word;
}
#u3831 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
}
#u3832 {
  position:absolute;
  left:165px;
  top:226px;
  width:43px;
  height:23px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:12px;
}
#u3832_img.mouseOver {
}
#u3832.mouseOver {
  opacity:0.800000011920929;
}
#u3832_img.mouseDown {
}
#u3832.mouseDown {
}
#u3832_img.selected {
}
#u3832.selected {
}
#u3833 {
  position:absolute;
  left:14px;
  top:5px;
  width:27px;
  word-wrap:break-word;
}
#u3834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
}
#u3834 {
  position:absolute;
  left:212px;
  top:226px;
  width:43px;
  height:23px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
  line-height:12px;
}
#u3834_img.mouseOver {
}
#u3834.mouseOver {
  opacity:0.800000011920929;
}
#u3834_img.mouseDown {
}
#u3834.mouseDown {
}
#u3834_img.selected {
}
#u3834.selected {
}
#u3835 {
  position:absolute;
  left:0px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u3836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3836 {
  position:absolute;
  left:200px;
  top:97px;
  width:20px;
  height:20px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:12px;
}
#u3836_img.mouseOver {
}
#u3836.mouseOver {
  opacity:0.800000011920929;
}
#u3837 {
  position:absolute;
  left:0px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u3838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:340px;
  background:inherit;
  background-color:rgba(80, 99, 100, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3838 {
  position:absolute;
  left:290px;
  top:10px;
  width:120px;
  height:340px;
  opacity:0.100000001490116;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3839 {
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3840 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
  background:inherit;
  background-color:rgba(27, 188, 156, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3841 {
  position:absolute;
  left:305px;
  top:293px;
  width:90px;
  height:23px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3841_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
  background:inherit;
  background-color:rgba(27, 188, 156, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3841.mouseOver {
  opacity:0.800000011920929;
}
#u3841_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
  background:inherit;
  background-color:rgba(221, 72, 58, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3841.mouseDown {
}
#u3841_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
  background:inherit;
  background-color:rgba(207, 67, 54, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3841.selected {
}
#u3842 {
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
#u3843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(27, 188, 156, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3843 {
  position:absolute;
  left:329px;
  top:161px;
  width:43px;
  height:21px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3843_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(27, 188, 156, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u3843.mouseOver {
  opacity:0.800000011920929;
}
#u3844 {
  position:absolute;
  left:0px;
  top:4px;
  width:43px;
  word-wrap:break-word;
}
#u3845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:14px;
  background:inherit;
  background-color:rgba(27, 188, 156, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:7px;
  color:#FFFFFF;
  line-height:7px;
}
#u3845 {
  position:absolute;
  left:336px;
  top:39px;
  width:27px;
  height:14px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:7px;
  color:#FFFFFF;
  line-height:7px;
}
#u3846 {
  position:absolute;
  left:0px;
  top:4px;
  width:27px;
  word-wrap:break-word;
}
#u3847 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
}
#u3848 {
  position:absolute;
  left:305px;
  top:226px;
  width:43px;
  height:23px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:12px;
}
#u3848_img.mouseOver {
}
#u3848.mouseOver {
  opacity:0.800000011920929;
}
#u3848_img.mouseDown {
}
#u3848.mouseDown {
}
#u3848_img.selected {
}
#u3848.selected {
}
#u3849 {
  position:absolute;
  left:14px;
  top:5px;
  width:27px;
  word-wrap:break-word;
}
#u3850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
}
#u3850 {
  position:absolute;
  left:352px;
  top:226px;
  width:43px;
  height:23px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
  line-height:12px;
}
#u3850_img.mouseOver {
}
#u3850.mouseOver {
  opacity:0.800000011920929;
}
#u3850_img.mouseDown {
}
#u3850.mouseDown {
}
#u3850_img.selected {
}
#u3850.selected {
}
#u3851 {
  position:absolute;
  left:0px;
  top:5px;
  width:29px;
  word-wrap:break-word;
}
#u3852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3852 {
  position:absolute;
  left:340px;
  top:97px;
  width:20px;
  height:20px;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:12px;
}
#u3852_img.mouseOver {
}
#u3852.mouseOver {
  opacity:0.800000011920929;
}
#u3853 {
  position:absolute;
  left:0px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
