body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5921 {
  position:absolute;
  left:10px;
  top:10px;
  width:960px;
  height:580px;
  overflow:hidden;
}
#u5921_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:580px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5921_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:46px;
  color:#1BBC9C;
  line-height:55px;
}
#u5922 {
  position:absolute;
  left:70px;
  top:200px;
  width:820px;
  height:110px;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto';
  font-weight:200;
  font-style:normal;
  font-size:46px;
  color:#1BBC9C;
  line-height:55px;
}
#u5923 {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  word-wrap:break-word;
}
#u5924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1BBC9C;
  text-align:left;
  line-height:20px;
}
#u5924 {
  position:absolute;
  left:680px;
  top:60px;
  width:230px;
  height:60px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1BBC9C;
  text-align:left;
  line-height:20px;
}
#u5925 {
  position:absolute;
  left:10px;
  top:10px;
  width:210px;
  word-wrap:break-word;
}
#u5926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1BBC9C;
  text-align:left;
  line-height:20px;
}
#u5926 {
  position:absolute;
  left:62px;
  top:110px;
  width:230px;
  height:60px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1BBC9C;
  text-align:left;
  line-height:20px;
}
#u5927 {
  position:absolute;
  left:10px;
  top:10px;
  width:210px;
  word-wrap:break-word;
}
#u5928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
  background:inherit;
  background-color:rgba(27, 188, 156, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(27, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5928 {
  position:absolute;
  left:810px;
  top:520px;
  width:140px;
  height:45px;
}
#u5928_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
  background:inherit;
  background-color:rgba(27, 188, 156, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(27, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5928.mouseOver {
  opacity:0.800000011920929;
}
#u5929 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u5930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u5930 {
  position:absolute;
  left:668px;
  top:20px;
  width:52px;
  height:52px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u5931 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u5932 {
  position:absolute;
  left:10px;
  top:118px;
  width:52px;
  height:52px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u5933 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF00FF;
  line-height:16px;
}
#u5934 {
  position:absolute;
  left:10px;
  top:590px;
  width:960px;
  height:60px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF00FF;
  line-height:16px;
}
#u5935 {
  position:absolute;
  left:2px;
  top:22px;
  width:956px;
  word-wrap:break-word;
}
