body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:16px;
  background:inherit;
  background-color:rgba(243, 244, 245, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Medium Regular', 'Roboto-Medium';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u3683 {
  position:absolute;
  left:10px;
  top:18px;
  width:600px;
  height:16px;
  font-family:'Roboto-Medium Regular', 'Roboto-Medium';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00BB9A;
  text-align:left;
  line-height:16px;
}
#u3684 {
  position:absolute;
  left:12px;
  top:0px;
  width:578px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3685 {
  position:absolute;
  left:10px;
  top:34px;
  width:600px;
  height:10px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3686 {
  position:absolute;
  left:114px;
  top:7px;
  width:78px;
  height:38px;
  overflow:hidden;
  touch-action:none;
}
#u3686_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:38px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3686_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
}
#u3687 {
  position:absolute;
  left:6px;
  top:5px;
  width:65px;
  height:28px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#109179;
  line-height:14px;
}
#u3687_img.mouseOver {
}
#u3687.mouseOver {
}
#u3687_img.mouseDown {
}
#u3687.mouseDown {
  opacity:0.400000005960464;
}
#u3688 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u3689 {
  position:absolute;
  left:10px;
  top:44px;
  visibility:hidden;
}
#u3689_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3689_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:12px;
}
#u3690 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
  line-height:12px;
}
#u3690_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:12px;
}
#u3690.selected {
}
#u3691 {
  position:absolute;
  left:2px;
  top:9px;
  width:596px;
  word-wrap:break-word;
}
