body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(189, 195, 199, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Medium Regular', 'Roboto-Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#B2BCC6;
  text-align:left;
  line-height:16px;
}
#u5535 {
  position:absolute;
  left:10px;
  top:10px;
  width:340px;
  height:46px;
  font-family:'Roboto-Medium Regular', 'Roboto-Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#B2BCC6;
  text-align:left;
  line-height:16px;
}
#u5535_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 187, 154, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Medium Regular', 'Roboto-Medium';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#B2BCC6;
  text-align:left;
  line-height:16px;
}
#u5535.selected {
}
#u5536 {
  position:absolute;
  left:12px;
  top:15px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5537 {
  position:absolute;
  left:20px;
  top:10px;
  width:195px;
  height:45px;
}
#u5537_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:45px;
  background-color:transparent;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#BDC3C7;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
  background:inherit;
  background-color:rgba(189, 195, 199, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(189, 195, 199, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:16px;
}
#u5538 {
  position:absolute;
  left:259px;
  top:15px;
  width:86px;
  height:36px;
  font-size:16px;
  line-height:16px;
}
#u5538_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
  background:inherit;
  background-color:rgba(189, 195, 199, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(189, 195, 199, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:16px;
}
#u5538.mouseOver {
  opacity:0.800000011920929;
}
#u5538_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
  background:inherit;
  background-color:rgba(27, 188, 156, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(27, 188, 156, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:16px;
}
#u5538.selected {
}
#u5539 {
  position:absolute;
  left:0px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u5540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF00FF;
  line-height:16px;
}
#u5540 {
  position:absolute;
  left:10px;
  top:56px;
  width:340px;
  height:60px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF00FF;
  line-height:16px;
}
#u5541 {
  position:absolute;
  left:2px;
  top:22px;
  width:336px;
  word-wrap:break-word;
}
#u5542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u5542 {
  position:absolute;
  left:225px;
  top:20px;
  width:25px;
  height:28px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u5542_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u5542.selected {
}
#u5543 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
