body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8147 {
  position:absolute;
  left:0px;
  top:0px;
}
#u8147_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(245, 247, 248, 1);
  background-image:none;
}
#u8147_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:638px;
  background:inherit;
  background-color:rgba(245, 247, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8148 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:638px;
  color:#999999;
}
#u8149 {
  position:absolute;
  left:2px;
  top:311px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8150 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u8150_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
}
#u8150_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:190px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular Regular', 'Roboto-Regular';
  font-weight:400;
  font-style:normal;
}
#u8151 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:190px;
  font-family:'Roboto-Regular Regular', 'Roboto-Regular';
  font-weight:400;
  font-style:normal;
}
#u8152 {
  position:absolute;
  left:2px;
  top:87px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8153 {
  position:absolute;
  left:460px;
  top:12px;
  width:40px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#1BBC9C;
  line-height:36px;
}
#u8154 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
