body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1256px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:100px;
}
#u5457 {
  position:absolute;
  left:154px;
  top:486px;
  width:67px;
  height:100px;
}
#u5458 {
  position:absolute;
  left:2px;
  top:42px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:200px;
}
#u5459 {
  position:absolute;
  left:10px;
  top:486px;
  width:134px;
  height:200px;
}
#u5460 {
  position:absolute;
  left:2px;
  top:92px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:100px;
}
#u5461 {
  position:absolute;
  left:594px;
  top:70px;
  width:67px;
  height:100px;
}
#u5462 {
  position:absolute;
  left:2px;
  top:42px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:356px;
}
#u5463 {
  position:absolute;
  left:10px;
  top:70px;
  width:376px;
  height:356px;
}
#u5464 {
  position:absolute;
  left:2px;
  top:170px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:178px;
}
#u5465 {
  position:absolute;
  left:396px;
  top:70px;
  width:188px;
  height:178px;
}
#u5466 {
  position:absolute;
  left:2px;
  top:81px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:824px;
}
#u5467 {
  position:absolute;
  left:10px;
  top:746px;
  width:824px;
  height:824px;
}
#u5468 {
  position:absolute;
  left:2px;
  top:404px;
  width:820px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:412px;
}
#u5469 {
  position:absolute;
  left:844px;
  top:746px;
  width:412px;
  height:412px;
}
#u5470 {
  position:absolute;
  left:2px;
  top:198px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u5471 {
  position:absolute;
  left:10px;
  top:1630px;
  width:300px;
  height:300px;
}
#u5472 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FF00FF;
  text-align:left;
  line-height:16px;
}
#u5473 {
  position:absolute;
  left:10px;
  top:10px;
  width:298px;
  height:60px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FF00FF;
  text-align:left;
  line-height:16px;
}
#u5474 {
  position:absolute;
  left:2px;
  top:22px;
  width:294px;
  word-wrap:break-word;
}
#u5475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FF00FF;
  text-align:left;
  line-height:16px;
}
#u5475 {
  position:absolute;
  left:10px;
  top:426px;
  width:298px;
  height:60px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FF00FF;
  text-align:left;
  line-height:16px;
}
#u5476 {
  position:absolute;
  left:2px;
  top:22px;
  width:294px;
  word-wrap:break-word;
}
#u5477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FF00FF;
  text-align:left;
  line-height:16px;
}
#u5477 {
  position:absolute;
  left:10px;
  top:686px;
  width:298px;
  height:60px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FF00FF;
  text-align:left;
  line-height:16px;
}
#u5478 {
  position:absolute;
  left:2px;
  top:22px;
  width:294px;
  word-wrap:break-word;
}
#u5479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FF00FF;
  text-align:left;
  line-height:16px;
}
#u5479 {
  position:absolute;
  left:10px;
  top:1570px;
  width:298px;
  height:60px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FF00FF;
  text-align:left;
  line-height:16px;
}
#u5480 {
  position:absolute;
  left:2px;
  top:22px;
  width:294px;
  word-wrap:break-word;
}
#u5481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FF00FF;
  text-align:left;
  line-height:16px;
}
#u5481 {
  position:absolute;
  left:10px;
  top:1930px;
  width:298px;
  height:60px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FF00FF;
  text-align:left;
  line-height:16px;
}
#u5482 {
  position:absolute;
  left:2px;
  top:22px;
  width:294px;
  word-wrap:break-word;
}
#u5483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u5483 {
  position:absolute;
  left:72px;
  top:1990px;
  width:26px;
  height:26px;
}
#u5484 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u5485 {
  position:absolute;
  left:10px;
  top:1990px;
  width:52px;
  height:52px;
}
#u5486 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
