body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(236, 238, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7976 {
  position:absolute;
  left:10px;
  top:48px;
  width:280px;
  height:270px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7977 {
  position:absolute;
  left:2px;
  top:127px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:50px;
  background:inherit;
  background-color:rgba(236, 238, 240, 1);
  border:none;
  border-left:0px;
  border-radius:1px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#34475E;
  text-align:left;
  line-height:16px;
}
#u7978 {
  position:absolute;
  left:71px;
  top:69px;
  width:208px;
  height:50px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#34475E;
  text-align:left;
  line-height:16px;
}
#u7979 {
  position:absolute;
  left:10px;
  top:8px;
  width:188px;
  word-wrap:break-word;
}
#u7980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#BDC3C7;
  text-align:right;
  line-height:13px;
}
#u7980 {
  position:absolute;
  left:71px;
  top:119px;
  width:207px;
  height:20px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#BDC3C7;
  text-align:right;
  line-height:13px;
}
#u7981 {
  position:absolute;
  left:0px;
  top:3px;
  width:207px;
  word-wrap:break-word;
}
#u7982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u7982 {
  position:absolute;
  left:36px;
  top:69px;
  width:33px;
  height:33px;
}
#u7983 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:50px;
  background:inherit;
  background-color:rgba(236, 238, 240, 1);
  border:none;
  border-left:0px;
  border-radius:1px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#34475E;
  text-align:left;
  line-height:16px;
}
#u7984 {
  position:absolute;
  left:20px;
  top:150px;
  width:208px;
  height:50px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#34475E;
  text-align:left;
  line-height:16px;
}
#u7985 {
  position:absolute;
  left:10px;
  top:8px;
  width:188px;
  word-wrap:break-word;
}
#u7986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#BDC3C7;
  text-align:left;
  line-height:13px;
}
#u7986 {
  position:absolute;
  left:20px;
  top:200px;
  width:208px;
  height:20px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#BDC3C7;
  text-align:left;
  line-height:13px;
}
#u7987 {
  position:absolute;
  left:0px;
  top:3px;
  width:208px;
  word-wrap:break-word;
}
#u7988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u7988 {
  position:absolute;
  left:230px;
  top:150px;
  width:33px;
  height:33px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u7989 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(236, 238, 240, 1);
  border-top:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7990 {
  position:absolute;
  left:10px;
  top:314px;
  width:280px;
  height:70px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7991 {
  position:absolute;
  left:2px;
  top:27px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7992 {
  position:absolute;
  left:20px;
  top:318px;
  width:196px;
  height:65px;
}
#u7992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:65px;
  background-color:transparent;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#BDC3C7;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7993 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BDC3C7;
  text-align:center;
  line-height:20px;
}
#u7994 {
  position:absolute;
  left:255px;
  top:342px;
  width:22px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BDC3C7;
  text-align:center;
  line-height:20px;
}
#u7995 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u7996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#BDC3C7;
  text-align:center;
  line-height:22px;
}
#u7996 {
  position:absolute;
  left:226px;
  top:344px;
  width:18px;
  height:18px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#BDC3C7;
  text-align:center;
  line-height:22px;
}
#u7997 {
  position:absolute;
  left:0px;
  top:-2px;
  width:18px;
  word-wrap:break-word;
}
#u7998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:46px;
}
#u7998 {
  position:absolute;
  left:217px;
  top:329px;
  width:1px;
  height:45px;
}
#u7999 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(52, 71, 94, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(52, 71, 94, 1);
  border-bottom:0px;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
#u8000 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  height:40px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
#u8001 {
  position:absolute;
  left:43px;
  top:12px;
  width:194px;
  word-wrap:break-word;
}
#u8002_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:283px;
  height:5px;
}
#u8002 {
  position:absolute;
  left:10px;
  top:318px;
  width:280px;
  height:2px;
}
#u8003 {
  position:absolute;
  left:2px;
  top:-7px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#21CA6B;
  text-align:center;
  line-height:30px;
}
#u8004 {
  position:absolute;
  left:20px;
  top:15px;
  width:23px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#21CA6B;
  text-align:center;
  line-height:30px;
}
#u8005 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u8006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1BBC9C;
  text-align:center;
  line-height:20px;
}
#u8006 {
  position:absolute;
  left:255px;
  top:10px;
  width:35px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1BBC9C;
  text-align:center;
  line-height:20px;
}
#u8007 {
  position:absolute;
  left:0px;
  top:10px;
  width:35px;
  word-wrap:break-word;
}
#u8008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:50px;
  background:inherit;
  background-color:rgba(236, 238, 240, 1);
  border:none;
  border-left:0px;
  border-radius:1px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#34475E;
  text-align:left;
  line-height:16px;
}
#u8008 {
  position:absolute;
  left:71px;
  top:233px;
  width:208px;
  height:50px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  color:#34475E;
  text-align:left;
  line-height:16px;
}
#u8009 {
  position:absolute;
  left:10px;
  top:8px;
  width:188px;
  word-wrap:break-word;
}
#u8010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#BDC3C7;
  text-align:right;
  line-height:13px;
}
#u8010 {
  position:absolute;
  left:71px;
  top:283px;
  width:207px;
  height:20px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#BDC3C7;
  text-align:right;
  line-height:13px;
}
#u8011 {
  position:absolute;
  left:0px;
  top:3px;
  width:207px;
  word-wrap:break-word;
}
#u8012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u8012 {
  position:absolute;
  left:36px;
  top:233px;
  width:33px;
  height:33px;
}
#u8013 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
