body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:560px;
  background:inherit;
  background-color:rgba(1, 159, 132, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8113 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:560px;
  color:#999999;
}
#u8114 {
  position:absolute;
  left:2px;
  top:272px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8115 {
  position:absolute;
  left:10px;
  top:10px;
}
#u8115_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8115_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8116 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#097562;
  line-height:22px;
}
#u8116_img.mouseOver {
}
#u8116.mouseOver {
}
#u8116_img.selected {
}
#u8116.selected {
}
#u8117 {
  position:absolute;
  left:0px;
  top:14px;
  width:50px;
  word-wrap:break-word;
}
#u8118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8118 {
  position:absolute;
  left:0px;
  top:124px;
  width:50px;
  height:50px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#097562;
  line-height:19px;
}
#u8118_img.mouseOver {
}
#u8118.mouseOver {
}
#u8118_img.selected {
}
#u8118.selected {
}
#u8119 {
  position:absolute;
  left:0px;
  top:16px;
  width:50px;
  word-wrap:break-word;
}
#u8120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8120 {
  position:absolute;
  left:0px;
  top:186px;
  width:50px;
  height:50px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#097562;
  line-height:19px;
}
#u8120_img.mouseOver {
}
#u8120.mouseOver {
}
#u8120_img.selected {
}
#u8120.selected {
}
#u8121 {
  position:absolute;
  left:0px;
  top:16px;
  width:50px;
  word-wrap:break-word;
}
#u8122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8122 {
  position:absolute;
  left:0px;
  top:248px;
  width:50px;
  height:50px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#097562;
  line-height:19px;
}
#u8122_img.mouseOver {
}
#u8122.mouseOver {
}
#u8122_img.selected {
}
#u8122.selected {
}
#u8123 {
  position:absolute;
  left:0px;
  top:16px;
  width:50px;
  word-wrap:break-word;
}
#u8124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8124 {
  position:absolute;
  left:0px;
  top:62px;
  width:50px;
  height:50px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#097562;
  line-height:19px;
}
#u8124_img.mouseOver {
}
#u8124.mouseOver {
}
#u8124_img.selected {
}
#u8124.selected {
}
#u8125 {
  position:absolute;
  left:0px;
  top:16px;
  width:50px;
  word-wrap:break-word;
}
#u8126 {
  position:absolute;
  left:70px;
  top:0px;
}
#u8126_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8126_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:560px;
  background:inherit;
  background-color:rgba(245, 247, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8127 {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:560px;
  color:#999999;
}
#u8128 {
  position:absolute;
  left:2px;
  top:272px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u8129 {
  position:absolute;
  left:395px;
  top:210px;
  width:100px;
  height:100px;
}
#u8130 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8126_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u8126_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:560px;
  background:inherit;
  background-color:rgba(245, 247, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8131 {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:560px;
  color:#999999;
}
#u8132 {
  position:absolute;
  left:2px;
  top:272px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(27, 188, 156, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8133 {
  position:absolute;
  left:395px;
  top:210px;
  width:100px;
  height:100px;
}
#u8134 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8126_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u8126_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:560px;
  background:inherit;
  background-color:rgba(245, 247, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8135 {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:560px;
  color:#999999;
}
#u8136 {
  position:absolute;
  left:2px;
  top:272px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u8137 {
  position:absolute;
  left:395px;
  top:210px;
  width:100px;
  height:100px;
}
#u8138 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8126_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u8126_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:560px;
  background:inherit;
  background-color:rgba(245, 247, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8139 {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:560px;
  color:#999999;
}
#u8140 {
  position:absolute;
  left:2px;
  top:272px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u8141 {
  position:absolute;
  left:395px;
  top:210px;
  width:100px;
  height:100px;
}
#u8142 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8126_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u8126_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:560px;
  background:inherit;
  background-color:rgba(245, 247, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u8143 {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:560px;
  color:#999999;
}
#u8144 {
  position:absolute;
  left:2px;
  top:272px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u8145 {
  position:absolute;
  left:395px;
  top:210px;
  width:100px;
  height:100px;
}
#u8146 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
