body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5266 {
  position:fixed;
  left:50%;
  margin-left:-480px;
  bottom:0px;
  width:960px;
  height:98px;
  overflow:hidden;
}
#u5266_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:98px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 71, 94, 1);
  background-image:none;
}
#u5266_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:99px;
  background:inherit;
  background-color:rgba(52, 71, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:#FFFFFF;
  text-align:left;
  line-height:34px;
}
#u5268 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:99px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:#FFFFFF;
  text-align:left;
  line-height:34px;
}
#u5269 {
  position:absolute;
  left:190px;
  top:32px;
  width:730px;
  word-wrap:break-word;
}
#u5270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5270 {
  position:absolute;
  left:710px;
  top:28px;
  width:140px;
  height:45px;
  color:#FFFFFF;
}
#u5271 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u5272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:33px;
  background:inherit;
  background-color:rgba(233, 77, 60, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u5272 {
  position:absolute;
  left:50px;
  top:0px;
  width:60px;
  height:33px;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u5273 {
  position:absolute;
  left:0px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
