body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5798 {
  position:absolute;
  left:10px;
  top:10px;
}
#u5798_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5798_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:386px;
}
#u5799 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:386px;
}
#u5800 {
  position:absolute;
  left:2px;
  top:185px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5799_ann {
  position:absolute;
  left:593px;
  top:-4px;
  width:1px;
  height:1px;
}
#u5798_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u5798_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:386px;
}
#u5801 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:386px;
}
#u5802 {
  position:absolute;
  left:2px;
  top:185px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5798_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u5798_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:386px;
}
#u5803 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:386px;
}
#u5804 {
  position:absolute;
  left:2px;
  top:185px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:100px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.427450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular Regular', 'Roboto-Regular';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u5805 {
  position:absolute;
  left:10px;
  top:296px;
  width:600px;
  height:100px;
  font-family:'Roboto-Regular Regular', 'Roboto-Regular';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u5806 {
  position:absolute;
  left:25px;
  top:20px;
  width:550px;
  word-wrap:break-word;
}
#u5807 {
  position:absolute;
  left:290px;
  top:276px;
}
#u5807_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5807_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5808 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5809 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5810 {
  position:absolute;
  left:15px;
  top:0px;
  width:10px;
  height:10px;
  opacity:0.600000023841858;
}
#u5811 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5812 {
  position:absolute;
  left:30px;
  top:0px;
  width:10px;
  height:10px;
  opacity:0.600000023841858;
}
#u5813 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5807_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u5807_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5814 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  opacity:0.600000023841858;
}
#u5815 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5816 {
  position:absolute;
  left:15px;
  top:0px;
  width:10px;
  height:10px;
}
#u5817 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5818 {
  position:absolute;
  left:30px;
  top:0px;
  width:10px;
  height:10px;
  opacity:0.600000023841858;
}
#u5819 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5807_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u5807_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5820 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  opacity:0.600000023841858;
}
#u5821 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5822 {
  position:absolute;
  left:15px;
  top:0px;
  width:10px;
  height:10px;
  opacity:0.600000023841858;
}
#u5823 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5824 {
  position:absolute;
  left:30px;
  top:0px;
  width:10px;
  height:10px;
}
#u5825 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5826 {
  position:absolute;
  left:560px;
  top:150px;
  width:40px;
  height:40px;
  opacity:0.400000005960464;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:18px;
}
#u5826_img.mouseOver {
}
#u5826.mouseOver {
  opacity:0.800000011920929;
}
#u5827 {
  position:absolute;
  left:3px;
  top:12px;
  width:37px;
  word-wrap:break-word;
}
#u5828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5828 {
  position:absolute;
  left:20px;
  top:150px;
  width:40px;
  height:40px;
  opacity:0.400000005960464;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:18px;
}
#u5828_img.mouseOver {
}
#u5828.mouseOver {
  opacity:0.800000011920929;
}
#u5829 {
  position:absolute;
  left:3px;
  top:12px;
  width:34px;
  word-wrap:break-word;
}
#u5830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF00FF;
  line-height:16px;
}
#u5830 {
  position:absolute;
  left:10px;
  top:396px;
  width:600px;
  height:60px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF00FF;
  line-height:16px;
}
#u5831 {
  position:absolute;
  left:2px;
  top:22px;
  width:596px;
  word-wrap:break-word;
}
